<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="MyDBConnectionString"
            connectionString="Data Source=Data Source=192.168.10.3\SQLEXPRESS,1433;Initial Catalog=MyDB; User Id=fangvo;Password=84695237"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>