<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WindowsFormsApplication1.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="MyDBConnectionString" connectionString="Data Source=Data Source=192.168.10.3\SQLEXPRESS,1433;Initial Catalog=MyDB; User Id=fangvo;Password=84695237"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <WindowsFormsApplication1.Properties.Settings>
            <setting name="ConURL" serializeAs="String">
                <value>FANGVO-PC\SQLEXPRESS</value>
            </setting>
            <setting name="ConID" serializeAs="String">
                <value />
            </setting>
            <setting name="ConPas" serializeAs="String">
                <value />
            </setting>
            <setting name="CurName" serializeAs="String">
                <value />
            </setting>
            <setting name="MyComName" serializeAs="String">
                <value>Название моей компании</value>
            </setting>
            <setting name="MyComINN" serializeAs="String">
                <value>1000000000</value>
            </setting>
            <setting name="MyComKPP" serializeAs="String">
                <value>100000000000</value>
            </setting>
            <setting name="MyComOGRN" serializeAs="String">
                <value>100000000000000</value>
            </setting>
            <setting name="MyComAdres" serializeAs="String">
                <value>Адрес мой</value>
            </setting>
            <setting name="MyComRS" serializeAs="String">
                <value>12312512141</value>
            </setting>
            <setting name="MyComBank" serializeAs="String">
                <value>Банк мой</value>
            </setting>
            <setting name="MyComBIK" serializeAs="String">
                <value>446161622</value>
            </setting>
            <setting name="MyComDirector" serializeAs="String">
                <value>Диретор мой</value>
            </setting>
            <setting name="MyComKS" serializeAs="String">
                <value>4654646646</value>
            </setting>
        </WindowsFormsApplication1.Properties.Settings>
    </userSettings>
</configuration>